body {
    margin: 0;
    padding: 0;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header */

.buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 1em;
    background-color: lightblue;
}

button {
    border-radius: 10px;
    background: skyblue;
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid white;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
    color: white;
    cursor: pointer;
}


/* main body */

.main-body {
    background: linear-gradient(109.5deg, rgb(13, 11, 136) 9.4%, rgb(86, 255, 248) 78.4%);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 5em;
    margin: 0;
    text-align: center;
}

h5 {
    font-size: 2em;
}

img {
    width: 50%;
    border-radius: 10px;
    margin-top: 50px;
}

p {
    margin: 0;
}

@media screen and (max-width: 500px) {
    img {
        width: 75%;
          }
}

/* menu */

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px;
    gap: 10px;
    color: whitesmoke;
    padding: 25px;
    border: 5px solid grey;
    border-radius: 10px;
    box-shadow: 10px 10px darkblue;
}

.card h4 {
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.card img {
    width: 35em;;
}

@media screen and (max-width: 500px) {
    .card img {
        width: 90%;
        margin-top: 0px;
          }
}


/* footer */

.footer {
    background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%);
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

.footer img {
    height: 20px;
    width: 20px;
}

a {
    text-decoration: none;
    color: black;
}